@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&amp;display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  content: "";
  box-sizing: border-box;
  transition: all 0.1s linear;
}
*::selection {
  background-color: #3cad57;
  color: white;
  text-shadow: none;
}

html {
  font-family: "Noto Serif JP", sans-serif;
  font-size: 10px;
}

body {
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  animation: rotate-root 3s linear;
}
@keyframes rotate-root {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}

.container {
  position: absolute;
  z-index: -1;
}
.container > span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 450px;
  height: 450px;
  border-radius: 50%;
  transform-origin: 100%;
  transform: translate(-100%, -50%) rotate(calc(90deg * var(--i)));
  animation: rotate-color 12s linear infinite;
  opacity: 0.5;
}
.container > span:nth-child(1) {
  background-color: #00ff3c99;
}
.container > span:nth-child(2) {
  background-color: #f700ff99;
}
.container > span:nth-child(3) {
  background-color: #ffae0099;
}
.container > span:nth-child(4) {
  background-color: #ff000099;
}
@keyframes rotate-color {
  0% {
    filter: hue-rotate(0deg) blur(60px);
  }
  100% {
    filter: hue-rotate(360deg) blur(60px);
  }
}

.clock {
  font-family: "Roboto Slab", serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vw;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
  background: rgba(161, 84, 179, 0.25);
  border: 1px solid rgba(232, 255, 255, 0.226);
  box-shadow: 0 -1.5rem 1.5rem rgba(255, 255, 255, 0.05), inset 0 -1.5rem 1.5rem rgba(255, 255, 255, 0.05), 0 1.5rem 1.5rem rgba(0, 0, 0, 0.3), inset 0 2rem 3rem rgba(49, 49, 49, 0.3), 0 0 7rem rgba(255, 255, 255, 0.2);
  animation: rotate-2 60s linear infinite;
}
.clock .num {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  display: block;
  height: 100%;
  transform: translate(-50%, -50%) rotate(calc(30deg * var(--i))) scale(0.9);
  font-size: 2.5rem;
}
.clock .num > span {
  color: #ff5252;
  font-weight: bold;
  display: block;
  transform: rotate(calc(-30deg * var(--i)));
  animation: rotate-2 360s linear infinite;
  text-shadow: 0 0.1rem 0 #310000, 0 0.2rem 0 #660000;
}
@keyframes rotate-2 {
  0% {
    filter: brightness(150%) hue-rotate(calc(30deg * var(--i)));
  }
  100% {
    filter: brightness(150%) hue-rotate(calc(360deg * var(--i)));
  }
}
.clock .num:nth-child(3), .clock .num:nth-child(6), .clock .num:nth-child(9), .clock .num:nth-child(12) {
  font-size: 5rem !important;
}
.clock .num:nth-child(3) {
  margin: 0 2rem;
}
.clock .num:nth-child(6) {
  margin: 1.6rem 0;
}
.clock .num:nth-child(9) {
  margin: 0 -2rem;
}
.clock .num:nth-child(12) {
  margin: -2rem 0;
}
.clock::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.main-clock {
  position: absolute;
}
.main-clock > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 90vw;
  height: 60vw;
  max-width: 500px;
  max-height: 500px;
  text-shadow: 0 2px 0.1rem rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.main-clock > p > i {
  font-size: 3rem;
  margin-bottom: 5rem;
  color: #ffdcdc;
  text-shadow: 0 0 1rem white, 0 0 2rem white, 0 0 5rem white;
  background: transparent;
  animation: rotate-1 6s linear infinite;
}
.main-clock > p > a {
  font-size: 1.5rem;
  text-decoration: none;
  background: -webkit-linear-gradient(#111111 0%, #fffeae 50%, #ffd9a8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-style: italic;
  animation: rotate-1 6s linear infinite;
}
.main-clock > div {
  transform: translate(-50%, -50%);
  position: absolute;
  pointer-events: none;
}
.main-clock > div > div {
  display: flex;
  justify-content: center;
  transition: none;
}
@keyframes rotate-1 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.main-clock .hour,
.main-clock .hr {
  width: 50vw;
  height: 50vw;
  max-width: 22rem;
  max-height: 22rem;
}
.main-clock .min,
.main-clock .mn {
  width: 60vw;
  height: 60vw;
  max-width: 32rem;
  max-height: 32rem;
}
.main-clock .sec,
.main-clock .sc {
  width: 70vw;
  height: 70vw;
  max-width: 36rem;
  max-height: 36rem;
}
.main-clock .hr::before {
  content: "";
  position: absolute;
  width: 0.8rem;
  height: 25vw;
  max-height: 11rem;
  background-color: #ff006a;
  border-radius: 0.6rem 0.6rem 0 0;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.05);
}
.main-clock .mn::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 30vw;
  max-height: 16rem;
  background-color: #ffffff;
  border-radius: 0.6rem 0.6rem 0 0;
  box-shadow: 0.5rem 0.5rem 0rem rgba(0, 0, 0, 0.1);
}
.main-clock .sc {
  animation: rotate-1 12s linear infinite;
}
.main-clock .sc::before {
  content: "";
  position: absolute;
  width: 0.3rem;
  height: 35vw;
  max-height: 20rem;
  background: linear-gradient(to bottom, #d45500, #ffe600);
  border-radius: 0.2rem;
  box-shadow: 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=index.css.map */
